li{ 
    border: 2px solid red; 
}

#special { 
    background: yellow; 
}

.completed{ 
    text-decoration: line-through; 
}

/* chooses all ul's that are adjacent to the h1 tag*/
h1 + ul { 
    border: 2px dotted red ; 
}